{% extends baseLayout %}

{% block title %}Admin{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        input{
            width:inherit;
        }
    </style>
{% endblock %}

{% block form %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('logout')}}">logout</a>
    {% else %}
        <a href="{{ path('loginForm')}}">login</a>
    {% endif %}    
    {{ form_start(form, {attr:{novalidate: 'novalidate'}}) }}
    <table>
        <tr>
            <td align="left">{{form_label(form.property)}}</td>
            <td>{{form_widget(form.property)}}</td>
            <td>{{form_errors(form.property)}}</td>
        </tr>
        <tr >
            <td align="left">{{form_label(form.badges)}}</td>
            <td>{{form_widget(form.badges)}}</td>
            <td>{{form_errors(form.badges)}}</td>
        </tr>
    </table>
    {{form_end(form)}}
{% endblock %}