<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title> {% block title %}EduFlats{% endblock %} </title>
        {% block stylesheets %}    {% endblock %}
        <style>
            body{
                min-width: 960px;
            }
            li{
                display:inline;
                padding: 10px;
                border:solid #5eb5e0 1px; 
                border-bottom:solid transparent 1px; 
            }
            ul{
                min-width: 960px;
            }
            li:hover{
               border:solid #5eb5e0 1px; 
            }
            
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    </head>
    <body>
        
        <div class="container">
            
            <div class="well">
                <h1>Epita University</h1>
                <p>Design by <a href="">EduFlats</a></p> 
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <h2>Menu</h2>
                    <ul>
                        <li ><a href="{{ path('registerUniversity') }}">Register University</a></li>
                        <li ><a href="{{ path('registerUniversity') }}">Register Campus</a></li>
                        <li ><a href="{{ path('registerUniversity') }}">Register Property</a></li>
                        <li ><a href="{{ path('registerUniversity') }}">Register User</a></li>
                        <li ><a href="{{ path('registerUniversity') }}">Register Badges</a></li>  
                        <li ><a href="{{ path('registerUniversity') }}">Register Tags</a></li>  
                        <li ><a href="{{ path('registerUniversity') }}">Listings Configurations</a></li>  
                        <li ><a href="{{ path('registerUniversity') }}">Website Settings</a></li>  
                    </ul>
                    <hr/>
                </div>
            </div
            
        </div><!--end of container-->

        

        {% block body %} {% endblock %}
        
        {% block form %} {% endblock %}
        
        {%block search%} {% endblock %}

        {% block javascripts %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            
    </body>
</html>