<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title> {% block title %}EduFlats{% endblock %} </title>
        {% block stylesheets %}    {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   
        <style>
            body{
                min-width: 960px;
            }
            .itmes{
                display:inline;
                padding: 10px;
                border:solid #5eb5e0 1px; 
                border-bottom:solid transparent 1px; 
            }
            #menu{
                min-width: 960px;
            }
            .itmes:hover{
               border:solid #5eb5e0 1px; 
            }
            
        </style>
            
    </head>
    <body>
        
        <div class="container">
            
            <div class="well">
                <h1>Epita University</h1>
                <p>Design by <a href="">EduFlats</a></p> 
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <h2>Registration</h2></br>
                    <ul id="menu">
                        <li class="itmes"><a href="{{ path('registerUniversity') }}"> University</a></li>
                        <li class="itmes"><a href="{{ path('registerCampus') }}"> Campus</a></li>
                        <li class="itmes"><a href="{{ path('createProperty') }}"> Property</a></li>
                        <li class="itmes"><a href="{{ path('registerStudent') }}"> Student</a></li>
                        <li class="itmes"><a href="{{ path('registerProvider') }}"> Provider</a></li>  
                        <li class="itmes"><a href="{{ path('createAdmin') }}"> Admin</a></li>  
                        <li class="itmes"><a href="{{ path('registerTags') }}"> Tags</a></li>  
                        <li class="itmes"><a href="{{ path('registerBadges') }}"> Badges</a></li>  
                        <li class="itmes"><a href="{{ path('listingSetting') }}">Listing Settings</a></li>  
                        <li class="itmes"><a href="{{ path('websiteSetting') }}">Website Settings</a></li>  
                        <li class="itmes"><a href="{{ path('home') }}login">Login</a></li>  
                        <li class="itmes"><a href="{{ path('home') }}logout">logout</a></li>  
                    </ul>
                    <hr/>
                </div>
            </div
            
        </div><!--end of container-->

        

        {% block body %} {% endblock %}
        
        {% block form %} {% endblock %}

        {% block javascripts %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            
    </body>
</html>