<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}EduFlats{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <span class="navbar-brand" > <a href="{{ path('home')}}" style="color:gray"> EduFlats </a> </span>
            <ul class="nav navbar-nav">
                <li> <a href="{{ path('registerUniversity')}}"> Register University </a> </li>
                <li> <a href="{{ path('registerCampus')}}"> Register Campus </a> </li>
                <li> <a href="{{ path('registerProperty')}}"> Register Property </a> </li>
                <li> <a href="{{ path('users')}}"> User </a> </li>
                <li> <a href="{{ path('registerBadges')}}"> Register Badges </a> </li>
                <li> <a href="{{ path('registerTags')}}"> Register Tags </a> </li>
                <li> <a href="{{ path('listingsConfiguration')}}"> Listing Configuration </a> </li>
                <li> <a href="{{ path('websiteSettings')}}"> Website Settings </a> </li>
            </ul>
        </nav>
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
