{% extends "::base.html.twig" %}

{% block title %}Agents{% endblock %}

{% block body %}
    {{ parent() }}
    
    
<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li><li class="active">Agents</li>
                </ol>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-7">
                <section>
                    <div class="title">
                        Agents
                    </div>
                    <div class="caption">
                        <h3 class="uppercase">Know our agents</h3>
                        <p>
                            Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                        </p>
                    </div>
                    <p class="ahead">
                        <span class="h4 uppercase motive">
                            ANNA MARIA KAUFMAN
                        </span>
                        <br>
                        <br>
                        <i>“ I only stop searching if you sit in front of your warm camin. Pellentesque habitant morbi
                            tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
                            feugiat vitae, ultricies eget, tempor sit amet, ante. </i>
                    </p>
                    <p>
                        Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                    </p>
                    <p>
                        Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.  Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                    </p>
                </section>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="caption">
                            <h4>
                                Anna Maria Kaufmann
                            </h4>
                        </div>
                        <h5 class="uppercase motive">
                            Contact 1
                        </h5>
                        tel: 0049 40 98 76 54-3<br>
                        email: amkaufmann@brick.com
                        <h5 class="uppercase motive">
                            Contact 2
                        </h5>
                        tel: 0049 40 98 76 54-3<br>
                        email: amkaufmann@brick.com
                    </div>
                    <div class="col-sm-6">
                        <div class="person-box no-hover">
                            <div class="person-image">
                                <div class="person-image-content">
                                    <div class="inner">
                                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/agent1.jpg') }}" alt="Listing">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5 class="motive">Anna's Achievments:</h5>
                        <div class="media">
                            <div class="pull-left motive">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <div class="media-body">
                                <p>
                                    <span class="motive">14 sales in 2013</span>
                                    <br>
                                    Pellentesque habitant morbi tristique senectus et.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left motive">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <div class="media-body">
                                <p>
                                    <span class="motive">23 rents in 2013</span>
                                    <br>
                                    Pellentesque habitant morbi tristique senectus et.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left motive">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <div class="media-body">
                                <p>
                                    <span class="motive">4 awards in 2013</span>
                                    <br>
                                    Pellentesque habitant morbi tristique senectus et.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <section>
                    <div class="flexslider title-slider" data-animation="fade" data-loop="true" data-slideshow="true" data-speed="5000">
                        <div class="title clear-title">
                            Listed properties
                        </div>
                        <ul class="slides">
                            <li>
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>
                                            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                        </p>
                                        <br>
                                        <div class="flexslider property-slider inner-slider">
                                            <ul class="slides-inner">
                                                <li>
                                                    <div class="listing-image-slider">
                                                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing7.jpg') }}" alt="Listing">
                                                        <div class="image-links">
                                                            <div class="left">
                                                                <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing7.jpg')}}" data-lightbox="related-40">
                                                                    <i class="fa fa-camera"></i>
                                                                </a>
                                                            </div>
                                                            <div class="right">
                                                                <a class="inner" href="#">
                                                                    <i class="fa fa-link"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="image-tags">
                                                            <ul class="property-tags">
                                                                <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                                                <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                                                <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="listing-image-slider">
                                                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing2.jpg')}}" alt="Listing">
                                                        <div class="image-links">
                                                            <div class="left">
                                                                <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing2.jpg')}}" data-lightbox="related-40">
                                                                    <i class="fa fa-camera"></i>
                                                                </a>
                                                            </div>
                                                            <div class="right">
                                                                <a class="inner" href="#">
                                                                    <i class="fa fa-link"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="image-tags">
                                                            <ul class="property-tags">
                                                                <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                                                <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                                                <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <span class="h3 uppercase">Gatineau Hills - Living in a extraordinary space</span>
                                            <p>habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. </p>
                                        </div>
                                        <a href="#" class="btn btn-link large-padding pull-right" role="button">+ Show Details</a>
                                    </div>
                                    <div class="col-md-5">
                                        <h4>STANDARD PROPERTY INFO (Single Family Residence)</h4>
                                        <br>
                                        <table class="table table-striped">
                                            <tbody>
                                            <tr>
                                                <td>Last Updated</td>
                                                <td>12.04.2013</td>
                                            </tr>
                                            <tr>
                                                <td>Year Built</td>
                                                <td>2010</td>
                                            </tr>
                                            <tr>
                                                <td>Home Size</td>
                                                <td>546 square Feet</td>
                                            </tr>
                                            <tr>
                                                <td>Lot Size</td>
                                                <td>2360 square Feet</td>
                                            </tr>
                                            <tr>
                                                <td>Days in stock</td>
                                                <td>10</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <ul class="property-tags important">
                                            <li><span><i class="icon-house"></i> 546<br><span class="small">Square Feet</span></span></li>
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                        <br>
                                        <br>
                                        <span class="price-tag important pull-right"><strong>$1.450.000</strong></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-7">
                                        <p>
                                            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                        </p>
                                        <br>
                                        <div class="flexslider property-slider inner-slider">
                                            <ul class="slides-inner">
                                                <li>
                                                    <div class="listing-image-slider">
                                                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing11.jpg')}}" alt="Listing">
                                                        <div class="image-links">
                                                            <div class="left">
                                                                <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing7.jpg')}}" data-lightbox="related-40">
                                                                    <i class="fa fa-camera"></i>
                                                                </a>
                                                            </div>
                                                            <div class="right">
                                                                <a class="inner" href="#">
                                                                    <i class="fa fa-link"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="image-tags">
                                                            <ul class="property-tags">
                                                                <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                                                <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                                                <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="listing-image-slider">
                                                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing9.jpg')}}" alt="Listing">
                                                        <div class="image-links">
                                                            <div class="left">
                                                                <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing2.jpg')}}" data-lightbox="related-40">
                                                                    <i class="fa fa-camera"></i>
                                                                </a>
                                                            </div>
                                                            <div class="right">
                                                                <a class="inner" href="">
                                                                    <i class="fa fa-link"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="image-tags">
                                                            <ul class="property-tags">
                                                                <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                                                <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                                                <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <span class="h3 uppercase">The deck house - Living in a extraordinary space</span>
                                            <p>habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. </p>
                                        </div>
                                        <a href="#" class="btn btn-link large-padding pull-right" role="button">+ Show Details</a>
                                    </div>
                                    <div class="col-md-5">
                                        <h4>STANDARD PROPERTY INFO (Single Family Residence)</h4>
                                        <br>
                                        <table class="table table-striped">
                                            <tbody>
                                            <tr>
                                                <td>Last Updated</td>
                                                <td>12.04.2013</td>
                                            </tr>
                                            <tr>
                                                <td>Year Built</td>
                                                <td>2010</td>
                                            </tr>
                                            <tr>
                                                <td>Home Size</td>
                                                <td>546 square Feet</td>
                                            </tr>
                                            <tr>
                                                <td>Lot Size</td>
                                                <td>2360 square Feet</td>
                                            </tr>
                                            <tr>
                                                <td>Days in stock</td>
                                                <td>10</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <ul class="property-tags important">
                                            <li><span><i class="icon-house"></i> 546<br><span class="small">Square Feet</span></span></li>
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                        <br>
                                        <br>
                                        <span class="price-tag important pull-right"><strong>$1.450.000</strong></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
    
{% endblock %}
{% block form %}{% endblock %}