{% extends "EduflatsBundle:Home:home.html.twig"%}

{% block body %}

<section class="ct-u-paddingTop30 ct-u-paddingBottom60">
<div class="container">
<div class="ct-heading ct-u-marginBottom60 text-center">
    <h3 class="text-uppercase">Kristine Black's properties</h3>
</div>
<div class="ct-section--products">
<div class="row">
    <!--begin property list -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
            <a href="{{ path('propertydetails') }}">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="{{ asset('bundles/eduflats/images/demo-content/property-8.jpg') }}" alt=""><i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            8553 Fallen Creek Bend, North Carolina
                        </div>
                        <div class="ct-product--price">
                            <span>$ 450,000</span>
                        </div>
                        <div class="ct-product--description">
                            Beautiful apartment in a great, very calm and safe place.
                        </div>
                    </div>
                </div>
                <div class="ct-product--meta">
                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i> 2
                                        </span>
                    </div>
                    <div class="ct-text">
                        <span> Area: <span>105 m2</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- end property List -->
    <!--begin property list -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
            <a href="{{ path('propertydetails') }}">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="{{ asset('bundles/eduflats/images/demo-content/property-8.jpg') }}" alt=""><i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            8553 Fallen Creek Bend, North Carolina
                        </div>
                        <div class="ct-product--price">
                            <span>$ 450,000</span>
                        </div>
                        <div class="ct-product--description">
                            Beautiful apartment in a great, very calm and safe place.
                        </div>
                    </div>
                </div>
                <div class="ct-product--meta">
                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i> 2
                                        </span>
                    </div>
                    <div class="ct-text">
                        <span> Area: <span>105 m2</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- end property List -->
    <!--begin property list -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
            <a href="{{ path('propertydetails') }}">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="{{ asset('bundles/eduflats/images/demo-content/property-8.jpg') }}" alt=""><i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            8553 Fallen Creek Bend, North Carolina
                        </div>
                        <div class="ct-product--price">
                            <span>$ 450,000</span>
                        </div>
                        <div class="ct-product--description">
                            Beautiful apartment in a great, very calm and safe place.
                        </div>
                    </div>
                </div>
                <div class="ct-product--meta">
                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i> 2
                                        </span>
                    </div>
                    <div class="ct-text">
                        <span> Area: <span>105 m2</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- end property List -->
    <!--begin property list -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
            <a href="{{ path('propertydetails') }}">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="{{ asset('bundles/eduflats/images/demo-content/property-8.jpg') }}" alt=""><i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            8553 Fallen Creek Bend, North Carolina
                        </div>
                        <div class="ct-product--price">
                            <span>$ 450,000</span>
                        </div>
                        <div class="ct-product--description">
                            Beautiful apartment in a great, very calm and safe place.
                        </div>
                    </div>
                </div>
                <div class="ct-product--meta">
                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i> 2
                                        </span>
                    </div>
                    <div class="ct-text">
                        <span> Area: <span>105 m2</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- end property List -->
    <!--begin property list -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
            <a href="{{ path('propertydetails') }}">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="{{ asset('bundles/eduflats/images/demo-content/property-8.jpg') }}" alt=""><i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            8553 Fallen Creek Bend, North Carolina
                        </div>
                        <div class="ct-product--price">
                            <span>$ 450,000</span>
                        </div>
                        <div class="ct-product--description">
                            Beautiful apartment in a great, very calm and safe place.
                        </div>
                    </div>
                </div>
                <div class="ct-product--meta">
                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i> 2
                                        </span>
                    </div>
                    <div class="ct-text">
                        <span> Area: <span>105 m2</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- end property List -->
    <!--begin property list -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
            <a href="{{ path('propertydetails') }}">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="{{ asset('bundles/eduflats/images/demo-content/property-8.jpg') }}" alt=""><i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            8553 Fallen Creek Bend, North Carolina
                        </div>
                        <div class="ct-product--price">
                            <span>$ 450,000</span>
                        </div>
                        <div class="ct-product--description">
                            Beautiful apartment in a great, very calm and safe place.
                        </div>
                    </div>
                </div>
                <div class="ct-product--meta">
                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i> 2
                                        </span>
                    </div>
                    <div class="ct-text">
                        <span> Area: <span>105 m2</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- end property List -->
    <!--begin property list -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
            <a href="{{ path('propertydetails') }}">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="{{ asset('bundles/eduflats/images/demo-content/property-8.jpg') }}" alt=""><i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            8553 Fallen Creek Bend, North Carolina
                        </div>
                        <div class="ct-product--price">
                            <span>$ 450,000</span>
                        </div>
                        <div class="ct-product--description">
                            Beautiful apartment in a great, very calm and safe place.
                        </div>
                    </div>
                </div>
                <div class="ct-product--meta">
                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i> 2
                                        </span>
                    </div>
                    <div class="ct-text">
                        <span> Area: <span>105 m2</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- end property List -->
    <!--begin property list -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
            <a href="{{ path('propertydetails') }}">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                        <img src="{{ asset('bundles/eduflats/images/demo-content/property-8.jpg') }}" alt=""><i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                            8553 Fallen Creek Bend, North Carolina
                        </div>
                        <div class="ct-product--price">
                            <span>$ 450,000</span>
                        </div>
                        <div class="ct-product--description">
                            Beautiful apartment in a great, very calm and safe place.
                        </div>
                    </div>
                </div>
                <div class="ct-product--meta">
                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                        <span>
                                            <i class="fa fa-cutlery"></i> 2
                                        </span>
                    </div>
                    <div class="ct-text">
                        <span> Area: <span>105 m2</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- end property List -->
</div>
</div>
<div class="ct-pagination text-center">
    <ul class="pagination">
        <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
    </ul>
</div>
</div>
</section>
</div>
    
{% endblock %}