{% extends "EduflatsBundle:Home:home.html.twig"%}

{% block body %}
  
<section class="ct-u-paddingTop60 ct-u-paddingBottom30 text-center">
    <div class="container">
        <div class="ct-heading ct-u-marginBottom60">
            <h3 class="text-uppercase">Our agents</h3>
        </div>
        <div class="row">
            <!--begin admin profile -->
            <div class="col-sm-6 col-md-3">
                    <div class="ct-personBox text-left">
                        <div class="ct-imagePerson">
                            <img src="{{ asset('bundles/eduflats/images/demo-content/agents-1.jpg') }}" alt="">
                            <ul class="ct-panel--socials list-inline list-unstyled">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="ct-personContent">
                            <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                <h5 class="ct-fw-600">Kristine Black</h5>
                                <a href="{{ path('navigation_agentlisting') }}">15 Properties</a>
                            </div>
                            <div class="ct-personDescription">
                                <ul class="list-unstyled ct-contactPerson">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(123) 456 7890</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile"></i>
                                        <span>888 999 000</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-skype"></i> kristine.black</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end admin profile-->
            <!--begin admin profile -->
            <div class="col-sm-6 col-md-3">
                    <div class="ct-personBox text-left">
                        <div class="ct-imagePerson">
                            <img src="{{ asset('bundles/eduflats/images/demo-content/agents-1.jpg') }}" alt="">
                            <ul class="ct-panel--socials list-inline list-unstyled">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="ct-personContent">
                            <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                <h5 class="ct-fw-600">Kristine Black</h5>
                                <a href="{{ path('navigation_agentlisting') }}">15 Properties</a>
                            </div>
                            <div class="ct-personDescription">
                                <ul class="list-unstyled ct-contactPerson">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(123) 456 7890</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile"></i>
                                        <span>888 999 000</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-skype"></i> kristine.black</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end admin profile-->
            <!--begin admin profile -->
            <div class="col-sm-6 col-md-3">
                    <div class="ct-personBox text-left">
                        <div class="ct-imagePerson">
                            <img src="{{ asset('bundles/eduflats/images/demo-content/agents-1.jpg') }}" alt="">
                            <ul class="ct-panel--socials list-inline list-unstyled">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="ct-personContent">
                            <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                <h5 class="ct-fw-600">Kristine Black</h5>
                                <a href="{{ path('navigation_agentlisting') }}">15 Properties</a>
                            </div>
                            <div class="ct-personDescription">
                                <ul class="list-unstyled ct-contactPerson">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(123) 456 7890</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile"></i>
                                        <span>888 999 000</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-skype"></i> kristine.black</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end admin profile-->
            <!--begin admin profile -->
            <div class="col-sm-6 col-md-3">
                    <div class="ct-personBox text-left">
                        <div class="ct-imagePerson">
                            <img src="{{ asset('bundles/eduflats/images/demo-content/agents-1.jpg') }}" alt="">
                            <ul class="ct-panel--socials list-inline list-unstyled">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="ct-personContent">
                            <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                <h5 class="ct-fw-600">Kristine Black</h5>
                                <a href="{{ path('navigation_agentlisting') }}">15 Properties</a>
                            </div>
                            <div class="ct-personDescription">
                                <ul class="list-unstyled ct-contactPerson">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(123) 456 7890</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile"></i>
                                        <span>888 999 000</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-skype"></i> kristine.black</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end admin profile-->
            <!--begin admin profile -->
            <div class="col-sm-6 col-md-3">
                    <div class="ct-personBox text-left">
                        <div class="ct-imagePerson">
                            <img src="{{ asset('bundles/eduflats/images/demo-content/agents-1.jpg') }}" alt="">
                            <ul class="ct-panel--socials list-inline list-unstyled">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="ct-personContent">
                            <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                <h5 class="ct-fw-600">Kristine Black</h5>
                                <a href="{{ path('navigation_agentlisting') }}">15 Properties</a>
                            </div>
                            <div class="ct-personDescription">
                                <ul class="list-unstyled ct-contactPerson">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(123) 456 7890</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile"></i>
                                        <span>888 999 000</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-skype"></i> kristine.black</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end admin profile-->
            <!--begin admin profile -->
            <div class="col-sm-6 col-md-3">
                    <div class="ct-personBox text-left">
                        <div class="ct-imagePerson">
                            <img src="{{ asset('bundles/eduflats/images/demo-content/agents-1.jpg') }}" alt="">
                            <ul class="ct-panel--socials list-inline list-unstyled">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="ct-personContent">
                            <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                <h5 class="ct-fw-600">Kristine Black</h5>
                                <a href="{{ path('navigation_agentlisting') }}">15 Properties</a>
                            </div>
                            <div class="ct-personDescription">
                                <ul class="list-unstyled ct-contactPerson">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(123) 456 7890</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile"></i>
                                        <span>888 999 000</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-skype"></i> kristine.black</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end admin profile-->
            <!--begin admin profile -->
            <div class="col-sm-6 col-md-3">
                    <div class="ct-personBox text-left">
                        <div class="ct-imagePerson">
                            <img src="{{ asset('bundles/eduflats/images/demo-content/agents-1.jpg') }}" alt="">
                            <ul class="ct-panel--socials list-inline list-unstyled">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="ct-personContent">
                            <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                <h5 class="ct-fw-600">Kristine Black</h5>
                                <a href="{{ path('navigation_agentlisting') }}">15 Properties</a>
                            </div>
                            <div class="ct-personDescription">
                                <ul class="list-unstyled ct-contactPerson">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(123) 456 7890</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile"></i>
                                        <span>888 999 000</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-skype"></i> kristine.black</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end admin profile-->
            <!--begin admin profile -->
            <div class="col-sm-6 col-md-3">
                    <div class="ct-personBox text-left">
                        <div class="ct-imagePerson">
                            <img src="{{ asset('bundles/eduflats/images/demo-content/agents-1.jpg') }}" alt="">
                            <ul class="ct-panel--socials list-inline list-unstyled">
                                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="ct-personContent">
                            <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
                                <h5 class="ct-fw-600">Kristine Black</h5>
                                <a href="{{ path('navigation_agentlisting') }}">15 Properties</a>
                            </div>
                            <div class="ct-personDescription">
                                <ul class="list-unstyled ct-contactPerson">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(123) 456 7890</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile"></i>
                                        <span>888 999 000</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-skype"></i> kristine.black</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end admin profile-->
            </div>
        </div>
    </div>
</section>
    
{% endblock %}