{% extends "::base.html.twig" %}

{% block title %}faq{% endblock %}

{% block body %}
    {{ parent() }}
    
    
<div class="wrapper">
    
    <section class="parallax parallax-header parallax-big" style="background-image: url({{ asset('bundles/eduflats/assets/images/demo-content/headerparallax2.jpg')}})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <span class="page-title">FAQ</span>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <div class="bar-parallax">
                            <h3 class="uppercase">Have no fear for the big move</h3>
                            <div class="caption">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <div class="container">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Home</a></li><li class="active">FAQ</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-faq-menu">
                <div class="title">
                    Frequent Questions
                </div>
                <ul class="nav nav-faq" id="myTab">
                    <li class="active"><a href="#01" data-toggle="tab">01. Buying Process</a></li>
                    <li><a href="#02" data-toggle="tab">02. Customer Charter</a></li>
                    <li><a href="#03" data-toggle="tab">03. New home warranty</a></li>
                    <li><a href="#04" data-toggle="tab">04. Consumer Code</a></li>
                    <li><a href="#05" data-toggle="tab">05. My new home</a></li>
                    <li><a href="#06" data-toggle="tab">06. Why buy a new home?</a></li>
                    <li><a href="#07" data-toggle="tab">Complaints Procedure</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <section>
                    <div class="tab-content tab-content-faq">
                        <div class="tab-pane fade in active" id="01">
                            <div class="title">
                                Buying Process
                            </div>
                            <div class="caption">
                                <h3 class="uppercase">
                                    We like to provide you on the hardest parts
                                </h3>
                                <p>
                                    Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                </p>
                            </div>
                            <br>
                            <h3 class="uppercase">Core steps at buying a property</h3>
                            <div class="col-md-4 col-sm-4">
                                <div class="service-box">
                                    <div class="service-icon">
                                        <div class="service-icon-content">
                                            <div><span><i class="fa fa-search"></i> </span></div>
                                        </div>
                                    </div>
                                    <h4 class="uppercase text-center">01. Find your new home</h4>
                                    <p class="text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="service-box with-hover">
                                    <div class="service-icon">
                                        <div class="service-icon-content">
                                            <div><span><i class="fa fa-heart"></i> </span></div>
                                        </div>
                                    </div>
                                    <h4 class="uppercase text-center">02. Fall in love</h4>
                                    <p class="text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.<br><span class="motive">This one has over effect</span></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="service-box">
                                    <div class="service-icon">
                                        <div class="service-icon-content">
                                            <div><span><i class="icon-house"></i> </span></div>
                                        </div>
                                    </div>
                                    <h4 class="uppercase text-center">03. Move Smoothly</h4>
                                    <p class="text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="highlight with-background">
                                <h3 class="uppercase">01. Booking</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, <span class="motive">this is colored text</span> , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class="highlight with-background">
                                <h3 class="uppercase">02. Getting the right financial advice</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, <a href="#">this is a link</a> , ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class="highlight with-background">
                                <h3 class="uppercase">03. Contacting a lawyer</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <span class="motive">Vestibulum</span> tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class="highlight with-background">
                                <h3 class="uppercase">04. Exchange of contracts</h3>
                                <p>Pellentesque habitant morbi tristique senectus <a href="#">et netus</a> et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet <a href="#">quam egestas semper</a>. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class="highlight with-background">
                                <h3 class="uppercase">05. Choices and options</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac <span class="motive">turpis</span> egestas. Vestibulum tortor quam, <span class="motive">feugiat vitae</span>, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class="highlight with-background">
                                <h3 class="uppercase">06. Build progress updates</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <span class="motive">Vestibulum</span> tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class="highlight with-background">
                                <h3 class="uppercase">07. Pre-decoration visit and home demonstrations</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, <span class="motive">this is colored text</span> , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                            <div class="highlight with-background">
                                <h3 class="uppercase">08. Legal completion and hand over</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, <a href="#">this is a link</a> , ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="02">
                            <div class="title">
                                Customer Charter
                            </div>
                            <div class="caption">
                                <h3 class="uppercase">
                                    We like to provide you on the hardest parts
                                </h3>
                                <p>
                                    Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                </p>
                            </div>
                            <br>
                            <h4 class="uppercase motive">
                                Customer charter in 6 easy steps
                            </h4>
                            <ul class="checklist">
                                <li class="checked">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
                                </li>
                                <li class="checked">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
                                </li>
                                <li class="checked">
                                    <span>Egestas vestibulum tortor quam,  feugiat vitae, ultricies eget, tempor sit amet, ante. </span>
                                </li>
                                <li class="checked">
                                    <span>Etiam pellentesque aliquet tellus</span>
                                </li>
                                <li class="checked">
                                    <span>Egestas.Vestibulum tortor quam,  feugiat vitae, ultricies eget, tempor sit amet, ante. </span>
                                </li>
                                <li class="checked">
                                    <span>Etiam pellentesque aliquet tellus</span>
                                </li>
                            </ul>
                            <br>
                            <p>Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, <span class="motive"> feugiat vitae, ultricies eget</span>, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. </p>
                            <p>Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. <a href="#">Donec eu libero</a> sit amet quam egestas semper. Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                            <p>Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. </p>
                            <p><span class="note">*Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </span> </p>
                        </div>
                        <div class="tab-pane fade" id="03">
                            <div class="title">
                                New home warranty
                            </div>
                            <div class="caption">
                                <h3 class="uppercase">
                                    We like to provide you on the hardest parts
                                </h3>
                                <p>
                                    Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                </p>
                            </div>
                            <br>
                            <h4 class="uppercase motive">
                                Advantages of a warranty
                            </h4>
                            <ul class="checklist">
                                <li class="checked">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
                                </li>
                                <li class="checked">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
                                </li>
                                <li class="checked">
                                    <span>Egestas vestibulum tortor quam,  feugiat vitae, ultricies eget, tempor sit amet, ante. </span>
                                </li>
                                <li class="checked">
                                    <span>Etiam pellentesque aliquet tellus</span>
                                </li>
                                <li class="checked">
                                    <span>Egestas.Vestibulum tortor quam,  feugiat vitae, ultricies eget, tempor sit amet, ante. </span>
                                </li>
                                <li class="checked">
                                    <span>Etiam pellentesque aliquet tellus</span>
                                </li>
                            </ul>
                            <br>
                            <ul class="nav nav-tabs" id="warrantiestab">
                                <li class="active"><a href="#warranty1" data-toggle="tab">Warranty 1</a></li>
                                <li><a href="#warranty2" data-toggle="tab">Warranty 2</a></li>
                                <li><a href="#warranty3" data-toggle="tab">Warranty 3</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="warranty1">
                                    <div class="inner">
                                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/faqtab1.jpg')}}" alt="" class="wrap-image-left">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat et nibh id hendrerit, et commodo nisl sodales vel. Etiam sit amet Duis pellentesque vulputate tortor, ac volutpat in. In ultrices metus purus comot es.
                                        Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="warranty2">
                                    <div class="inner">
                                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/faqtab1.jpg')}}" alt="" class="wrap-image-right">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat et nibh id hendrerit, et commodo nisl sodales vel. Etiam sit amet Duis pellentesque vulputate tortor, ac volutpat in. In ultrices metus purus comot es.
                                        Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="warranty3">
                                    <div class="inner">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat et nibh id hendrerit. , et commodo nisl sodales vel. Etiam sit amet Duis pellentesque vulputate tortor, ac volutpat in. In ultrices metus purus comot es.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="04">
                            <div class="title">
                                Consumer Code
                            </div>
                            <div class="caption">
                                <h3 class="uppercase">
                                    We like to provide you on the hardest parts
                                </h3>
                                <p>
                                    Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                </p>
                            </div>
                            <br>
                            <h4 class="uppercase motive">
                                Our consumer code
                            </h4>
                            <br>
                            <div class="panel-group accordion" id="accordion">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Collapsible Group Item #1
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Collapsible Group Item #2
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            Collapsible Group Item #3
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <ul class="checklist">
                                <li class="checked">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
                                </li>
                                <li class="checked">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
                                </li>
                                <li class="checked">
                                    <span>Egestas vestibulum tortor quam,  feugiat vitae, ultricies eget, tempor sit amet, ante. </span>
                                </li>
                                <li class="checked">
                                    <span>Etiam pellentesque aliquet tellus</span>
                                </li>
                                <li class="checked">
                                    <span>Egestas.Vestibulum tortor quam,  feugiat vitae, ultricies eget, tempor sit amet, ante. </span>
                                </li>
                                <li class="checked">
                                    <span>Etiam pellentesque aliquet tellus</span>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="05">
                            <div class="title">
                                Becoming a new home member
                            </div>
                            <div class="caption">
                                <h3 class="uppercase">
                                    You're in the best company
                                </h3>
                                <p>
                                    Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                </p>
                            </div>
                            <div class="price-list-one">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="price-list">
                                            <img src="{{ asset('bundles/eduflats/assets/images/demo-content/card-gold.png')}}" alt="" class="fit-image">
                                            <br>
                                            <br>
                                            <img src="{{ asset('bundles/eduflats/assets/images/bricklogo.png')}}" alt="" class="text-center">
                                            <ul>
                                                <li>
                                                    <span class="bigger"><i class="fa fa-check"></i></span> Gold Membership
                                                </li>
                                                <li class="checked">
                                                    <span class="bigger"><i class="fa fa-check"></i></span> Gold Membership
                                                </li>
                                                <li>
                                                    <span class="bigger"><i class="fa fa-check"></i></span> Gold Membership
                                                </li>
                                                <li>
                                                    <span class="bigger"><i class="fa fa-check"></i></span> Gold Membership
                                                </li>
                                            </ul>
                                            <span class="price">
                                                <span class="symbol">$</span>45
                                                <small>Per month</small>
                                            </span>
                                            <button type="button" class="btn">
                                                choose plan!
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="price-list">
                                            <img src="{{ asset('bundles/eduflats/assets/images/demo-content/card-orange.png')}}" alt="" class="fit-image">
                                            <br>
                                            <br>
                                            <img src="{{ asset('bundles/eduflats/assets/images/bricklogo.png')}}" alt="" class="text-center">
                                            <ul>
                                                <li>
                                                    <span class="bigger"><i class="fa fa-check"></i></span> Basic Membership
                                                </li>
                                                <li>
                                                    <span class="bigger"><i class="fa fa-check"></i></span> Basic Membership
                                                </li>
                                                <li>
                                                    <span class="bigger"><i class="fa fa-check"></i></span> Basic Membership
                                                </li>
                                                <li>
                                                    <span class="bigger"><i class="fa fa-check"></i></span> Basic Membership
                                                </li>
                                            </ul>
                                            <span class="price">
                                                <span class="symbol">$</span>12
                                                <small>Per month</small>
                                            </span>
                                            <button type="button" class="btn">
                                                choose plan!
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="06">
                            <div class="title">
                                Why buy a new home?
                            </div>
                            <div class="caption">
                                <h3 class="uppercase">
                                    It is yours! It will always be yours!
                                </h3>
                                <p>
                                    Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                </p>
                            </div>
                            <br>
                            <h4 class="uppercase motive">
                                See the many advantages of buying a new home
                            </h4>
                            <br>
                            <div class="panel-group accordion" id="accordion2">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                            Home buying Process - A helping hand
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                            Building in Perfection
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                                            Efficiency as standard
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                                            Location is important
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                                            Welcome to your new home
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
                                            Contemporary living
                                        </a>
                                    </div>
                                    <div id="collapseNine" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
                                            We provide a smooth move
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="07">
                            <div class="title">
                                Why buy a new home?
                            </div>
                            <div class="caption">
                                <h3 class="uppercase">
                                    It is yours! It will always be yours!
                                </h3>
                                <p>
                                    Habitant morbi tristique senectus et <span class="motive">netus et malesuada</span> fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                </p>
                            </div>
                            <br>
                            <h3 class="uppercase motive">10% is all you need</h3>
                            <ul class="checklist">
                                <li class="checked">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
                                </li>
                                <li class="checked">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.</span>
                                </li>
                                <li class="checked">
                                    <span>Egestas vestibulum tortor quam,  feugiat vitae, ultricies eget, tempor sit amet, ante. </span>
                                </li>
                            </ul>
                            <br>
                            <div class="well-warning">
                                <h3 class="uppercase">Process 1</h3>
                                <h5><strong>If you're a new home owner:</strong></h5>
                                <p>Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                                <p>Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                            </div>
                            <br><br>
                            <div class="well-warning">
                                <h3 class="uppercase">Process 2</h3>
                                <h5><strong>If you got another complaint:</strong></h5>
                                <p>Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                                <p>Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                            </div>
                            <br><br>
                            <h3 class="uppercase">Your satisfaction in focus</h3>
                            <p class="dropcaps">
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
                            </p>
                            <p class="ahead">
                                Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis
                                tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent
                                dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
                                eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
                                facilisis luctus, metus.
                            </p>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit.
                            </p>
                            <br>
                            <br>
                            <h3 class="uppercase">Hightlight your text the fancy way</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. </p>
                            <div class="highlight">
                                Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.
                            </div>
                            <div class="highlight motive">
                                Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.
                            </div>
                            <br><br>
                            <div class="well-warning">
                                <h3 class="uppercase">Process 3</h3>
                                <h5><strong>We hope you will be satisfied</strong></h5>
                                <p>Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                                <p>Morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
</div>
    
{% endblock %}
{% block form %}{% endblock %}