<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content=" ">
        <meta name="author" content="CreateIT">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="{{ asset('bundles/eduflats/assets/js/modernizr.custom.js') }}"></script>
        <script src="{{ asset('bundles/eduflats/assets/js/device.min.js') }}"></script>

        <title>{% block title %}Eduflats{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eduflats/assets/css/style.css') }}">

        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/eduflats/assets/bootstrap/js/html5shiv.js') }}"></script>
        <script src="{{ asset('bundles/eduflats/assets/bootstrap/js/respond.min.js') }}"></script>
        <![endif]-->
    </head>
    <body class="gray withAnimation">
        <div class="wrapper">
            <header>

            </header>

            <div class="container">

            </div>

            <nav class="navbar navbar-brick navbar-fixed-top no-animation" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 text-center">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" data-href="#" class="navbar-toggle toggle-sidebar pull-left" >
                                    <i class="icon-house"></i>
                                </button>
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand visible-sm visible-xs" href="#"><img src=src="{{ asset('bundles/eduflats/assets/images/bricklogo-smal.png') }}" alt=""></a>
                                <a class="logo-small hidden-xs hidden-sm" href="#"><img src="{{ asset('bundles/eduflats/assets/images/bricklogo-smal.png') }}" alt=""></a>
                            </div>
                            <p class="navbar-text scroll-move visible-md visible-lg"></p>
                        </div>


                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('registerUniversity')}}">Register University</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div><!-- /.container-fluid -->
            </nav>

            <div class="container">

            </div>
            <!--end hader-->
            <div class="container">

            </div>

            <section class="flexslider std-slider" data-height="570" data-direction="horizontal" data-animation="fade" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="25000" data-animspeed="550" data-controls="false" data-dircontrols="true">
                <ul class="slides">
                    <li data-bg="{{ asset('bundles/eduflats/assets/images/demo-content/house.jpg') }}">
                        <div class="inner">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-6 col-md-4 col-md-offset-4">
                                        <div class="object animated big" data-top="200px" data-fx="fadeInUp">Welcome<br> home!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-bg="{{ asset('bundles/eduflats/assets/images/demo-content/house2.jpg') }}">
                        <div class="inner">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-7 col-md-7 col-md-offset-4">
                                        <div class="object animated big" data-top="200px" data-fx="fadeInUp">Open the door<br> to your dreams!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-bg="{{ asset('bundles/eduflats/assets/images/demo-content/house3.jpg') }}">
                        <div class="inner">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-7">
                                        <div class="object animated hidden-xs" data-top="180px" data-fx="fadeInUp">
                                            <div class="well">
                                                <div class="caption">
                                                    <h2 class="uppercase">Casa de la Luz<br>
                                                        <small>Spain, Mallorca</small></h2>
                                                    <ul class="property-tags">
                                                        <li><span data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fa fa-home"></i> 546 sqm</span></li>
                                                        <li><span data-toggle="tooltip" data-placement="right" title="Tooltip on right"><i class="icon-shower"></i> 5</span></li>
                                                        <li><span data-toggle="tooltip" data-placement="left" title="Tooltip on left"><i class="icon-bed"></i> 3</span></li>
                                                    </ul>
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                                    </p>
                                                </div>
                                                <a href="#" class="btn btn-link " role="button">+ Show Details</a> <span class="price-tag pull-right important"><strong>$1.450.000</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <div class="container">

            </div>

            <div class="container">
                <div class="col-md-12" style="margin-bottom:60px;">
                    <div class="caption">
                        <h3 class="uppercase">
                            Welcome to "Brick Real Estate HTML Template"
                        </h3>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

        </div>

        <div class="parallax" style="background-image: url({{ asset('bundles/eduflats/assets/images/demo-content/parallax3.jpg') }})">
            <div class="parainner">
                <div class="overlay-parallax"></div>
                <div class="inner">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-slider">
                                    <ul class="slides">
                                        <li>
                                            <span class="big-icon"><i class="fa fa-key"></i> </span>
                                            <br>
                                            <span class="h2 uppercase drop-shadow">Animated and awesome looking parallax sections</span>
                                            <br>
                                            <span class="h3 motive">John Doe, CEO BRICK Company</span>
                                        </li>
                                        <li>
                                            <span class="h2 uppercase drop-shadow">Brick real estate template is</span>
                                            <br>
                                            <p class="drop-shadow">
                                                <span class="heading">Responsive and looks great on all devices</span>
                                                <br>
                                            </p>
                                            <div class="row">
                                                <div class="col-md-8 col-md-offset-2 drop-shadow">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat et nibh id hendrerit. , et commodo nisl sodales vel. Etiam sit amet Duis pellentesque vulputate tortor, ac volutpat in. In ultrices metus purus comot es.
                                                </div>
                                            </div>
                                            <a href="#" class="btn-parallax">Learn more!</a>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="img-circle pull-left" alt="" src="{{ asset('bundles/eduflats/assets/images/demo-content/customer.jpg')}}">
                                                <div class="media-body text-left">
                                                    <h3 class="uppercase">Ear what our customers say</h3>
                                                    <br>
                                                    <p>
                                                        "BRICK" is simply awesome and stunning. It helped me to grow my business in an very intense and great way! Thank you so much guys!”
                                                    </p>
                                                    <span class="h6 motive">Julia Densmore - A fake company</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">

        </div>

        <div class="grey-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="title">
                            Buying a property with Brick Real Estate
                        </div>
                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/buyingproperty.jpg')}}" alt="" class="fit-image">
                        <div class="caption">
                            <h3 class="uppercase">Welcome to your new home</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                        </div>
                        <a href="#" class="btn btn-brick btn-xs large-padding">learn more</a>
                    </div>
                    <hr class="visible-xs visible-sm">
                    <div class="col-md-5 col-md-offset-2">
                        <div class="title">
                            My Brick Real Estate Section
                        </div>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#brick" data-toggle="tab">My House</a></li>
                            <li><a href="#why" data-toggle="tab">Why with us?</a></li>
                            <li><a href="#smooth" data-toggle="tab">Smooth move!</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="brick">
                                <div class="inner">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat et nibh id hendrerit. , et commodo nisl sodales vel. Etiam sit amet Duis pellentesque vulputate tortor, ac volutpat in. In ultrices metus purus comot es.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="why">
                                <div class="inner">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat et nibh id hendrerit. , et commodo nisl sodales vel. Etiam sit amet Duis pellentesque vulputate tortor, ac volutpat in. In ultrices metus purus comot es.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="smooth">
                                <div class="inner">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat et nibh id hendrerit. , et commodo nisl sodales vel. Etiam sit amet Duis pellentesque vulputate tortor, ac volutpat in. In ultrices metus purus comot es.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h3 class="uppercase">Your area</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                        </div>
                        <a href="#" class="btn btn-brick btn-xs large-padding">log in</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

        </div>

        <div class="parallax" style="background-image: url({{ asset('bundles/eduflats/assets/images/demo-content/parallax2.jpg') }})">
            <div class="parainner">
                <div class="overlay-parallax"></div>
                <div class="inner">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 text-center">
                                    <span class="h2 uppercase">
                                        <span class="big-icon">
                                            <i class="fa fa-twitter"></i>
                                        </span>
                                        find us om social media
                                    </span>

                                    <div class="tweets text-slider">
                                        <ul class="slides">
                                            <li>
                                                <span class="big-icon"><i class="fa fa-key"></i> </span>
                                                <br>
                                                <span class="h2 uppercase drop-shadow">Animated and awesome looking parallax sections</span>
                                                <br>
                                                <span class="h3 motive">John Doe, CEO BRICK Company</span>
                                            </li>
                                            <li>
                                                <span class="h2 uppercase drop-shadow">Brick real estate template is</span>
                                                <br>
                                                <p class="drop-shadow">
                                                    <span class="heading">Responsive and looks great on all devices</span>
                                                    <br>
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-2 drop-shadow">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat et nibh id hendrerit.
                                                    </div>
                                                </div>
                                                <a href="#" class="btn-parallax">Learn more!</a>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img class="img-circle pull-left" alt="" src="{{ asset('bundles/eduflats/assets/images/demo-content/customer.jpg')}}">
                                                    <div class="media-body text-left">
                                                        <h3 class="uppercase">Ear what our customers say</h3>
                                                        <br>
                                                        <p>
                                                            "BRICK" is simply awesome and stunning.”
                                                        </p>
                                                        <span class="h6 motive">Julia Densmore - A fake company</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">

        </div>

        <div class="container padding-big">
            <div class="row">
                <div class="col-md-4">
                    <div class="title">
                        Latest Blog Posts
                    </div>
                    <div class="list-posts">
                        <article>
                            <span class="motive">12.12.2014 |</span> about 2 hours ago<br>
                            <h4 class="uppercase"><a href="#">The Deck House</a></h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                            <a href="#"><i>read more <i class="fa fa-angle-double-right"></i></i></a>
                        </article>
                        <hr>
                        <article>
                            <span class="motive">12.12.2014 |</span> about 2 hours ago<br>
                            <h4 class="uppercase"><a href="#">Beyond your dreams</a></h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                            <a href="#"><i>read more <i class="fa fa-angle-double-right"></i></i></a>
                        </article>
                        <br>
                        <a href="#" class="btn btn-brick btn-xs large-padding">view more</a>
                    </div>

                </div>
                <hr class="visible-xs visible-sm">
                <div class="col-md-4">
                    <div class="title">
                        About Casa Real Estate
                    </div>
                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/about-image.jpg') }}" alt="" class="fit-image">
                    <div class="caption">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                    </div>
                    <a href="#" class="btn btn-brick btn-xs large-padding">view more</a>
                </div>
                <hr class="visible-xs visible-sm">
                <div class="col-md-4">
                    <div class="title">
                        Download our app
                    </div>
                    <div class="text-center">
                        <img src="{{ asset('bundles/eduflats/assets/images/demo-content/downloadapp.png') }}" alt="">
                    </div>
                    <div class="caption">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                    </div>
                    <a href="#" class="btn btn-brick btn-xs large-padding">download now</a>
                </div>
            </div>
        </div>

        <div class="container">

        </div>

        <div class="parallax" style="background-image: url({{ asset('bundles/eduflats/assets/images/demo-content/parallax.jpg') }})">
            <div class="parainner">
                <div class="overlay-parallax"></div>
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <span class="big-icon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <br>
                                <span class="h2 uppercase">Subscribe to our newsletter</span>
                                <br>
                                <p>Always be in front of your competitors and profit from our weekly newsletter!</p>
                                <br>
                                <div class="col-md-8 col-md-offset-2 padding-xs-top">
                                    <div class="successMessage alert alert-success" style="display: none">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        Thank You!
                                    </div>
                                    <div class="errorMessage alert alert-error" style="display: none">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        Ups! An error occured. Please try again later.
                                    </div>

                                    <form class="form-inline validateIt" role="form" action=""
                                          method="post" data-email-subject="Newsletter Form" data-show-errors="true"
                                          data-hide-form="true">
                                        <div class="input-group">
                                            <input type="email" name="field[]" class="form-control"
                                                   placeholder="Enter your email address to subscribe">
                                            <input type="hidden" name="msg_subject" value="New Newsletter subscription">
                                            <span class="input-group-btn">
                                                <button class="btn btn-brick" type="submit">Join the mailing list</button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

        </div>

        <div class="container padding-top-big">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="uppercase">We're proud to work with these partners</h3>
                    <h4>Pellentesque habitant morbi tristique senectus et et malesuada fames ac turpis.</h4>
                </div>
            </div>
        </div>

        <div class="container">

        </div>

        <section class="grey-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="partners flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/partner1.png') }}" alt="preview">
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/partner2.png') }}" alt="preview">
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/partner3.png') }}" alt="preview">
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/partner4.png') }}" alt="preview">
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/partner5.png') }}" alt="preview">
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/partner6.png') }}" alt="preview">
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/partner7.png') }}" alt="preview">
                                </li>
                                <li>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/partner8.png') }}" alt="preview">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--begin footer-->
    <div class="container">

    </div>

    <section class="full-width-map padding-top-medium">
        <div class="googleMap" data-location="331 w 4th Street, New York" data-height="300" data-offset="0"></div>
    </section>

    <div class="container">

    </div>

    <footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4 class="uppercase">About Casa Real Estate</h4>
                    <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-center">
                        <img src="{{ asset('bundles/eduflats/assets/images/bricklogo.png') }}" alt="Eduflats">
                    </p>
                    <br>
                    <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <!--<div class="info-icons">
                    <div class="table-row">
                    <div class="table-cell text-center">
                    <i class="fa fa-map-marker motive"></i>
                    </div>
                    <div class="table-cell">
                    331 W 4th St, New York, NY
                    </div>
                    </div>
                    <div class="table-row">
                    <div class="table-cell text-center">
                    <i class="fa fa-phone motive"></i>
                    </div>
                    <div class="table-cell">
                    (049)  +1 212-242-9502
                    </div>
                    </div>
                    <div class="table-row">
                    <div class="table-cell text-center">
                    <i class="fa fa-envelope motive"></i>
                    </div>
                    <div class="table-cell">
                    <a href="mailto:hello@brick.com">hello@brick.com</a>
                    </div>
                    </div>
                    </div>-->
                </div>
                <hr class="visible-xs">
                <div class="col-md-3 col-sm-6">
                    <h4 class="uppercase">Get In Contact</h4>
                    <br>
                    <div class="info-icons">
                        <div class="table-row">
                            <div class="table-cell text-center">
                                <i class="fa fa-phone motive"></i>
                            </div>
                            <div class="table-cell">
                                Phone1: +1 212-242-9502
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell text-center">
                                <i class="fa fa-phone motive"></i>
                            </div>
                            <div class="table-cell">
                                Phone2: +1 212-242-9503
                            </div>
                        </div>
                        <br>
                        <div class="table-row">
                            <div class="table-cell text-center">
                                <i class="fa fa-map-marker motive"></i>
                            </div>
                            <div class="table-cell">
                                331 W 4th St, New York, NY<br>
                                Phone +1 212-242-9502
                            </div>
                        </div>
                        <br>
                        <div class="table-row">
                            <div class="table-cell text-center">
                                <i class="fa fa-envelope motive"></i>
                            </div>
                            <div class="table-cell">
                                <a href="mailto:email@email.com">hello@brick.com</a><br>
                                www.casa-template.com
                            </div>
                        </div>
                    </div>
                    <h6>Lets stay in contact</h6>
                    <ul class="socials">
                        <li>
                            <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google +"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="RSS"><i class="fa fa-rss"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix visible-sm"></div>
                <hr class="visible-xs">
                <div class="col-md-6">
                    <h4 class="uppercase">Quick Contact</h4>
                    <p>Posuere velit aliquet duis mollis, est non commodo luctus et normal.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="successMessage alert alert-success" style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <p>Thank You! We will contact you shortly.</p>
                            </div>
                            <div class="errorMessage alert alert-danger" style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <p>Ups! An error occured. Please try again later.</p>
                            </div>
                        </div>

                    </div>

                    <form role="form" action="" method="post" class="contactForm validateIt"
                          data-email-subject="Contact Form" data-show-errors="true">
                        <div class="row padding-xs-top">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input required type="text" name="field[]" class="form-control"
                                           placeholder="Name *">
                                </div>
                                <div class="form-group">
                                    <input required type="tel" name="field[]" class="form-control"
                                           placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input required type="email" name="field[]" class="form-control"
                                           placeholder="Email *">
                                </div>
                                <div class="form-group">
                                    <input required type="tel" name="field[]" class="form-control"
                                           placeholder="Fax">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="4" name="field[]" required
                                              placeholder="Your message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-grey btn-lg  pull-right">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="quick-links">
                        <div class="quick-link">
                            Countries:
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-link btn-xs  dropdown-toggle" data-toggle="dropdown">
                                    Quick Link <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="quick-link">
                            Towns:
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-link btn-xs  dropdown-toggle" data-toggle="dropdown">
                                    Quick Link <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer-bottom">
                    <div class="col-md-10">
                        <nav class="navigation-footer">
                            <ul>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Cookie Policy</a>
                                </li>
                                <li>
                                    <a href="#">Social Media Terms</a>
                                </li>
                                <li>
                                    <a href="#">Satutory Information</a>
                                </li>
                                <li>
                                    <a href="#">Supply Chain</a>
                                </li>
                                <li>
                                    <a href="#">Sitemap</a>
                                </li>
                                <li>
                                    <a href="#">Mobile Site</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-2 text-right ">
                        © Eduflats 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <a href="#" id="toTop"><i class="fa fa-angle-up"></i></a>
    </div>

    <!-- SCRIPTS -->
    <script src="{{ asset('bundles/eduflats/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/eduflats/assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/eduflats/assets/js/modernizr.custom.js') }}"></script>

    <script src="{{ asset('bundles/eduflats/assets/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/eduflats/assets/js/jQuery-ui-touch.js') }}"></script>
    <script src="{{ asset('bundles/eduflats/assets/js/lightbox-2.6.min.js') }}"></script>

    <script src="{{ asset('bundles/eduflats/assets/js/device.min.js') }}"></script>
    <script src="{{ asset('bundles/eduflats/assets/js/jquery.browser.min.js') }}"></script>

    <script src="{{ asset('bundles/eduflats/assets/js/jquery.appear.js') }}"></script>

    <script src="{{ asset('bundles/eduflats/assets/js/jquery.parallax.js') }}"></script>

    <script src="{{ asset('bundles/eduflats/assets/js/gmap3.min.js') }}"></script>

    <script src="{{ asset('bundles/eduflats/assets/js/jquery.flexslider-min.js') }}"></script>

    <script src="{{ asset('bundles/eduflats/assets/form/js/contact-form.js') }}"></script>
    <script src="{{ asset('bundles/eduflats/assets/js/main.js') }}"></script>

    <!-- switcher -->
    <script src="{{ asset('bundles/eduflats/demo/js/demo.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eduflats/demo/css/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eduflats/demo/generator.css') }}">
    <!-- end switcher -->
    </body>
</html>