{% extends "::base.html.twig" %}

{% block title %}properties{% endblock %}

{% block body %}
    {{ parent() }}
    
  
<div class="wrapper">
   
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li><li class="active">Portfolio 3 Columns</li>
                    </ol>
                </div>
                <section>
                    
                    <h3 class="uppercase">Do you need some inspiration?</h3>
                    <p>
                        Ultricies eget, <span class="motive">tempor sit amet</span>, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorpera.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="property-filters">
                                <ul class="filter-list">
                                    <li class="active">
                                        <a href="#">All</a>
                                    </li>
                                    <li>
                                        <a href="#">Sale</a>
                                    </li>
                                    <li>
                                        <a href="#">Rent</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="property-filters">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span class="select-box input-right pull-left" title="Type">
                                            <select name="Type" data-placeholder="Select Property Type">
                                                <option>Type</option>
                                                <option value="1">Residence</option>
                                                <option value="2">Villa</option>
                                                <option value="3">Family</option>
                                                <option value="4">Single</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="col-xs-3">
                                        <button class="btn-filter pull-right">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">New</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing8.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing8.jpg')}}" data-lightbox="related-3">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>Miss Valley Residence<br>
                                        <small>California, USA</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 750 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">New</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing10.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing10.jpg')}}" data-lightbox="related-4">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="#">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>The Fabulous Bird House<br>
                                        <small>Mallorca, Spain</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 650 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                                <ul class="property-tags">
                                    <li><span data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fa fa-home"></i> 546 sqm</span></li>
                                    <li><span data-toggle="tooltip" data-placement="left" title="Tooltip on left"><i class="icon-bed"></i> 3</span></li>
                                    <li><span data-toggle="tooltip" data-placement="right" title="Tooltip on right"><i class="icon-shower"></i> 5</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">New</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing11.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing11.jpg')}}" data-lightbox="related-5">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>Miss Valley Residence<br>
                                        <small>California, USA</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 750 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">Reduced</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing2.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing8.jpg')}}" data-lightbox="related-6">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>Gatineau Hills<br>
                                        <small>Quebec, Canada</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 750 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                                <ul class="property-tags">
                                    <li><span data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fa fa-home"></i> 546 sqm</span></li>
                                    <li><span data-toggle="tooltip" data-placement="left" title="Tooltip on left"><i class="icon-bed"></i> 3</span></li>
                                    <li><span data-toggle="tooltip" data-placement="right" title="Tooltip on right"><i class="icon-shower"></i> 5</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">New</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing6.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing6.jpg')}}" data-lightbox="related-7">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="#">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="property-tags">
                                    <li><span data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fa fa-home"></i> 546 sqm</span></li>
                                    <li><span data-toggle="tooltip" data-placement="left" title="Tooltip on left"><i class="icon-bed"></i> 3</span></li>
                                    <li><span data-toggle="tooltip" data-placement="right" title="Tooltip on right"><i class="icon-shower"></i> 5</span></li>
                                </ul>
                                <div class="description">
                                    <h4>Castlecrag Residence<br>
                                        <small>Castlecrag, Australia</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 750 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">For Sale</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing7.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing7.jpg')}}" data-lightbox="related-8">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>Casa del Viento<br>
                                        <small>Morelos, Mexico</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 750 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                                <ul class="property-tags">
                                    <li><span data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fa fa-home"></i> 546 sqm</span></li>
                                    <li><span data-toggle="tooltip" data-placement="left" title="Tooltip on left"><i class="icon-bed"></i> 3</span></li>
                                    <li><span data-toggle="tooltip" data-placement="right" title="Tooltip on right"><i class="icon-shower"></i> 5</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">Reduced</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing5.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing5.jpg')}}" data-lightbox="related-9">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="#">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>Ross Residence<br>
                                        <small>California, USA</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 750 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">New</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing4.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing4.jpg')}}" data-lightbox="related-10">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>House G<br>
                                        <small>Geldermalsen, Netherlands</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 750 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="thumbnail boxed">
                                <div class="listing-image">
                                    <span class="listing-tag important">For Rent</span>
                                    <img src="{{ asset('bundles/eduflats/assets/images/demo-content/listing9.jpg')}}" alt="Listing">
                                    <div class="image-links">
                                        <div class="left">
                                            <a class="inner" href="{{ asset('bundles/eduflats/assets/images/demo-content/listing9.jpg')}}" data-lightbox="related-3">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </div>
                                        <div class="right">
                                            <a class="inner" href="">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-tags">
                                        <ul class="property-tags">
                                            <li><span><i class="icon-bed"></i> 5<br><span class="small">Bedrooms</span></span></li>
                                            <li><span><i class="icon-shower"></i> 3<br><span class="small">Bathrooms</span></span></li>
                                            <li><span><i class="icon-garage"></i> 1<br><span class="small">Garages</span></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <h4>Villa Overby<br>
                                        <small>Stockholm, Sweden</small></h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong>Type:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            Villa
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Size:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 000 Sq
                                        </div>
                                        <div class="col-xs-6">
                                            <strong>Rooms:</strong>
                                        </div>
                                        <div class="col-xs-6">
                                            6 Bed, 4 Bath
                                        </div>
                                    </div>
                                    <hr>
                                                <span class="price-tag">
                                                    2 750 000 USD
                                                </span>
                                    <a href="#" class="btn btn-link " role="button">+ Show Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="pagination pull-right">
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
</div>
    
{% endblock %}
{% block form %}{% endblock %}