{% extends baseLayout %}

{% block title %}Provider{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block form %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('logout')}}">logout</a>
    {% else %}
        <a href="{{ path('loginForm')}}">login</a>
    {% endif %}    

    {% if form != null%}
        {{ form_start(form, {attr:{novalidate: 'novalidate'}}) }}
        
        {{form_end(form)}}
    {% endif %}
{% endblock %}
