{% extends baseLayout %}

{% block title %}User{% endblock %}

{% block body %}
    
    {{ parent() }}
    {% block form %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('logout')}}">logout</a>
        {% else %}
            <a href="{{ path('loginForm')}}">login</a>
        {% endif %}   
    {% endblock %} 
    
    
    <div class="col-sm-6 col-sm-offset-1">
        <a href="{{ path('registerStudent') }}"><button type="button" class="btn btn-primary">Register as Student</button></a>
        <a href="{{ path('registerProvider') }}"><button type="button" class="btn btn-primary">Register as Provider</button></a>
        <a href="{{ path('registerAdmin') }}"><button type="button" class="btn btn-primary">Register as Admin</button></a>
    </div>
    
    
{% endblock %}