{% extends "::base.html.twig" %}

{% block title %}TestBundle:Login:loginForm{% endblock %}

{% block form %}
    <h3 style="color:black; margin-bottom: 10px; text-align: center">Registration</h3>
    <div>
        <a href="{{ path('registerForm', {'userType': 'provider'}) }}"><div style="border:solid black 1px; display:inline-block; width:250px; text-align: center; background: #B55100">Register As Provider</div></a>
    </div></br>
   {{ form_start(form, {attr:{novalidate: 'novalidate'}}) }}
    <table>

         <tr>
            <td align="left">{{form_label(form.username)}}</td>
            <td>{{form_widget(form.username)}}</td>
            <td></td>
            <td>{{form_errors(form.username)}}</td>
        </tr>
        <tr>
            <td align="left">{{form_label(form.password)}}</td>
            <td>{{form_widget(form.password)}}</td>
            <td></td>
            <td>{{form_errors(form.password)}}</td>
        </tr>
        <tr>
            <td align="left">{{form_label(form.email)}}</td>
            <td>{{form_widget(form.email)}}</td>
            <td></td>
            <td>{{form_errors(form.email)}}</td>
        </tr>
        <tr>
            <td></td>
            <td align="center">{{form_widget(form.submit)}}</td>
        </tr>
    </table>
    {{form_end(form)}}
{% endblock %}