<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Student Accommodation">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}EduFlats{% endblock %}</title>
    <link rel="icon" href="{{ asset('bundles/eduflats/images/demo-content/estato-favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eduflats/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eduflats/css/style.css') }}">
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/eduflats/bootstrap/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('bundles/eduflats/bootstrap/js/respond.min.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('bundles/eduflats/js/modernizr.custom.js') }}"></script>
    <style>
        
        .ct-iconContainer--circle {
            background-color: #333;
        }
        .ct-iconBox--2col .ct-iconContainer--circle:before{
            border: 3px solid #333;
        }
    </style>
</head>
<body class="ct-headroom--fixedTopBar cssAnimate">
<div class="ct-site--map">
    <div class="container">
        <a href="/">Home</a>
        <a href="/registrtaion">New User</a>
    </div>
</div>
<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="630" data-type="parallax" data-bg-image="{{ asset('bundles/eduflats/images/demo-content/registration-parallax.jpg') }}" data-bg-image-mobile="{{ asset('bundles/eduflats/images/demo-content/registration-parallax.jpg') }}">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ct-headerText--normal">
                        <h2 class="text-uppercase ct-fw-600 ct-u-marginBottom70">
                            What will you earn
                            by registering?
                        </h2>
                    </div>
                    <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
                        <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleHoverLight">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title text-uppercase ct-fw-600">Get more users</span>
                            <span class="ct-text">Thanks to our content optimization you will get more visits to your property page.</span>
                        </div>
                    </div>
                    <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
                        <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleHoverLight">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title text-uppercase ct-fw-600">Convert visitors</span>
                            <span class="ct-text">With our design and structures you will be able to show your property in better light.</span>
                        </div>
                    </div>
                    <div class="ct-iconBox ct-iconBox--2col">
                        <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleHoverLight">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title text-uppercase ct-fw-600">Reach your goal</span>
                            <span class="ct-text">Estato was designed to become your real estate business partner. It’s not only a tool, it’s a working ecosystem.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {# replace it with symfony widget #}
                    <form role="form" class="ct-formRegister pull-right">
                        <div class="form-group">
                            <div class="ct-form--item ct-u-marginBottom20">
                                <label>Your Email</label>
                                <input type="text" required class="form-control input-lg" placeholder="">
                            </div>
                            <div class="ct-form--item ct-u-marginBottom20">
                                <label>Password</label>
                                <input type="text" required class="form-control input-lg" placeholder="">
                            </div>
                            <div class="ct-form--item ct-u-marginBottom20">
                                <label>Repeat Password</label>
                                <input type="text" required class="form-control input-lg" placeholder="">
                            </div>
                            <div class="ct-form--item ct-u-marginBottom20">
                                <label>Account Type</label>
                                <select class="ct-js-select ct-select-lg">
                                    <option value="month">Standard User</option>
                                    <option value="January">Premium User</option>
                                </select>
                            </div>
                            <div class="ct-form--item ct-u-marginBottom20">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        I read and agree to<a href="terms.html" style="color:gray"> terms & conditions</a>
                                    </label>
                                </div>
                            </div>
                            <div class="ct-form--item">
                                <button type="submit" class="btn btn-warning center-block">Register Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="ct-u-paddingBottom60 text-center">
    <div class="container">
        <div class="ct-heading ct-u-marginBoth60">
            <h3 class="text-uppercase">our partners</h3>
        </div>
        <div class="ct-js-owl" data-items="6" data-navigation="false" data-autoPlay="true" data-single="false" data-pagination="false">
            <div class="item"><img src="{{ asset('bundles/eduflats/images/demo-content/content-partners-1.png') }}" alt=""></div>
            <div class="item"><img src="{{ asset('bundles/eduflats/images/demo-content/content-partners-2.png') }}" alt=""></div>
            <div class="item"><img src="{{ asset('bundles/eduflats/images/demo-content/content-partners-3.png') }}" alt=""></div>
            <div class="item"><img src="{{ asset('bundles/eduflats/images/demo-content/content-partners-4.png') }}" alt=""></div>
            <div class="item"><img src="{{ asset('bundles/eduflats/images/demo-content/content-partners-5.png') }}" alt=""></div>
            <div class="item"><img src="{{ asset('bundles/eduflats/images/demo-content/content-partners-6.png') }}" alt=""></div>
        </div>
    </div>
</section>
        
<footer>
    <div class="ct-postFooter ct-u-paddingBoth20">
        
        <div class="container">
            <div class="row">
                <div class="pull-right">
                    <span class="ct-copyright">&copy; 2015 <a href="http://www.tracebyte.com/">Tracebyte</a> All rights reserved. </span>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- JavaScripts -->

<script src="{{ asset('bundles/eduflats/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/eduflats/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/eduflats/js/dependencies.js') }}"></script>
<script src="{{ asset('bundles/eduflats/js/select2/select2.min.js') }}"></script>
<script src="{{ asset('bundles/eduflats/js/slider-bootstrap/bootstrap-slider.js') }}"></script>
<script src="{{ asset('bundles/eduflats/js/ct-mediaSection/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('bundles/eduflats/js/owl/owl.carousel.min.js') }}"></script>
<script src="{{ asset('bundles/eduflats/js/main.js') }}"></script>

</div>
</body>
</html>