{% extends "::base.html.twig" %}

{% block title %}Register Admin{% endblock %}

{% block body %}
    <div class="col-sm-3 col-sm-offset-1">
             {{ form_start(form, {attr:{novalidate: 'novalidate'}}) }}
            <table>
                 <tr>
                    <td align="left">{{form_label(form.username)}}</td>
                    <td>{{form_widget(form.username)}}</td>
                    <td>{{form_errors(form.username)}}</td>
                </tr>
                 <tr>
                    <td align="left">{{form_label(form.email)}}</td>
                    <td>{{form_widget(form.email)}}</td>
                    <td>{{form_errors(form.email)}}</td>
                </tr>
                 <tr>
                    <td align="left">{{form_label(form.plainPassword.first)}}</td>
                    <td>{{form_widget(form.plainPassword.first)}}</td>
                    <td>{{form_errors(form.plainPassword.first)}}</td>
                </tr>
                 <tr>
                    <td align="left">{{form_label(form.plainPassword.second)}}</td>
                    <td>{{form_widget(form.plainPassword.second)}}</td>
                    <td>{{form_errors(form.plainPassword.second)}}</td>
                </tr>
            </table>
            {{form_end(form)}}
    </div>
{% endblock %}
