{% extends "::base.html.twig"%}

{% block title %}Register Campus{% endblock %}

{% block body %}
    <div class="col-sm-3 col-sm-offset-1">
             {{ form_start(form, {attr:{novalidate: 'novalidate'}}) }}
            <table style="display:inline-block">
                 <tr>
                    <td align="left">{{form_label(form.tPropertyDescription)}}</td>
                    <td>{{form_widget(form.tPropertyDescription)}}</td>
                    <td>{{form_errors(form.tPropertyDescription)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nPropertyType)}}</td>
                    <td>{{form_widget(form.nPropertyType)}}</td>
                    <td>{{form_errors(form.nPropertyType)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nAvailabilityStatus)}}</td>
                    <td>{{form_widget(form.nAvailabilityStatus)}}</td>
                    <td>{{form_errors(form.nAvailabilityStatus)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.dAvailableFrom)}}</td>
                    <td>{{form_widget(form.dAvailableFrom)}}</td>
                    <td>{{form_errors(form.dAvailableFrom)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nMonthsOfOccupancy)}}</td>
                    <td>{{form_widget(form.nMonthsOfOccupancy)}}</td>
                    <td>{{form_errors(form.nMonthsOfOccupancy)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nBedroom)}}</td>
                    <td>{{form_widget(form.nBedroom)}}</td>
                    <td>{{form_errors(form.nBedroom)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nBathroom)}}</td>
                    <td>{{form_widget(form.nBathroom)}}</td>
                    <td>{{form_errors(form.nBathroom)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nTotalFloors)}}</td>
                    <td>{{form_widget(form.nTotalFloors)}}</td>
                    <td>{{form_errors(form.nTotalFloors)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nFloorNumber)}}</td>
                    <td>{{form_widget(form.nFloorNumber)}}</td>
                    <td>{{form_errors(form.nFloorNumber)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nFurnishedStatus)}}</td>
                    <td>{{form_widget(form.nFurnishedStatus)}}</td>
                    <td>{{form_errors(form.nFurnishedStatus)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nBeds)}}</td>
                    <td>{{form_widget(form.nBeds)}}</td>
                    <td>{{form_errors(form.nBeds)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nMaximumOccupants)}}</td>
                    <td>{{form_widget(form.nMaximumOccupants)}}</td>
                    <td>{{form_errors(form.nMaximumOccupants)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nPrice)}}</td>
                    <td>{{form_widget(form.nPrice)}}</td>
                    <td>{{form_errors(form.nPrice)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nMaintainanceCharge)}}</td>
                    <td>{{form_widget(form.nMaintainanceCharge)}}</td>
                    <td>{{form_errors(form.nMaintainanceCharge)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.bBrokersResponse)}}</td>
                    <td>{{form_widget(form.bBrokersResponse)}}</td>
                    <td>{{form_errors(form.bBrokersResponse)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nSQFTcovered)}}</td>
                    <td>{{form_widget(form.nSQFTcovered)}}</td>
                    <td>{{form_errors(form.nSQFTcovered)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.bDisplayContactDetails)}}</td>
                    <td>{{form_widget(form.bDisplayContactDetails)}}</td>
                    <td>{{form_errors(form.bDisplayContactDetails)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.tAddressTitle)}}</td>
                    <td>{{form_widget(form.tAddressTitle)}}</td>
                    <td>{{form_errors(form.tAddressTitle)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.tAddressLine1)}}</td>
                    <td>{{form_widget(form.tAddressLine1)}}</td>
                    <td>{{form_errors(form.tAddressLine1)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.tAddressLine2)}}</td>
                    <td>{{form_widget(form.tAddressLine2)}}</td>
                    <td>{{form_errors(form.tAddressLine2)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.tCity)}}</td>
                    <td>{{form_widget(form.tCity)}}</td>
                    <td>{{form_errors(form.tCity)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.tProvince)}}</td>
                    <td>{{form_widget(form.tProvince)}}</td>
                    <td>{{form_errors(form.tProvince)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.nCountry)}}</td>
                    <td>{{form_widget(form.nCountry)}}</td>
                    <td>{{form_errors(form.nCountry)}}</td>
                </tr>
                <tr>
                    <td align="left">{{form_label(form.tZipCode)}}</td>
                    <td>{{form_widget(form.tZipCode)}}</td>
                    <td>{{form_errors(form.tZipCode)}}</td>
                </tr>
            </table>
            {{form_end(form)}}
    </div>
{% endblock %}